@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import "tailwindcss";

:root {
  --background: #f0f9ff;
  --foreground: #212529;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/* Custom scrollbar for mega menu */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
